# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
python-genia-service/logs/

# Environment variables
.env

# Docker
.docker/

# Python
python-genia-service/.venv/
python-genia-service/__pycache__/
python-genia-service/*.pyc
python-genia-service/.pytest_cache/

# Java
java-api-gateway/target/
java-api-gateway/.mvn/
java-api-gateway/mvnw
java-api-gateway/mvnw.cmd.env
